[user]
name = Mike Borthwick
email = mhborthwick@gmail.com
[includeIf "gitdir:~/Workspace-work"]
path = ~/.gitconfig-work

[github]
user = mhborthwick

[init]
defaultBranch = main
[includeIf "gitdir:~/Workspace-work"]
path = ~/.gitconfig-work

[alias]
# add all
aa = add -A

# amend
amend = commit --amend

# add new file
an = add -N

# checkout -b
cb = checkout -b

# clean -fd
cl = clean -fd

# clean -fdn (dry run)
cln = clean -fdn

# commit -m
cm = commit -m

# checkout
co = checkout

# diff
df = diff

# log --oneline
lg = log --oneline

# pull
pl = pull

# push
ps = push

# push force-with-lease
psf = push --force-with-lease

# rebase
rb = rebase

# reset
rs = reset

# status -s
st = status -s

# worktree
wt = worktree
