# cursor
alias c="cursor"

# clear
alias cl="clear"

# git
alias g="git"

# kubectl
alias k="kubectl"

# docker
alias d="docker"

# npm run
alias nr="npm run"

# pnpm
alias pn="pnpm"

# navigation
alias ..="cd .."

# exit
alias x="exit"
