[user]
name = Mike Borthwick
email = mhborthwick@gmail.com

[github]
user = mhborthwick

[init]
defaultBranch = main

[alias]

# Status using short format
st = status -s

# Add all changes (interactive mode)
aap = add . -p

# Add all changes
aa = add .
